<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="boardMapper">
  	<resultMap type="Board" id="boardResult">
  		<result column="BOARD_NO" property="boardNo" />
  		<result column="BOARD_TITLE" property="boardTitle" />
  		<result column="BOARD_CONTENT" property="boardContent" />
  		<result column="PRICE" property="price" />
  		<result column="BOARD_TYPE" property="boardType" />
  		<result column="CREATEDATE" property="createDate" />
  	</resultMap>
  	
  	<resultMap type="Attachment" id="attachmentResult">
  		<result column="ATT_NO" property="attNo" />
  		<result column="ORIGIN_NAME" property="originName" />
  		<result column="CHANGE_NAME" property="changeName" />
  		<result column="FILE_PATH" property="filePath" />
  	</resultMap>
  	
  	<resultMap type="Notice" id="noticeResult">
  		<result column="NOTICE_NO" property="noticeNo" />
  		<result column="NOTICE_TYPE" property="noticeType" />
  		<result column="NOTICE_TITLE" property="noticeTitle" />
  		<result column="NOTICE_CONTENT" property="noticeContent" />
  		<result column="CREATEDATE" property="createDate" />
  		<result column="STATUS" property="status" />
  	</resultMap>
 	
 	
 	<!-- 게시글 총 갯수 조회 -->
 	<select id="helpselect">
 		SELECT BOARD_NO
 			FROM ATTACHMENT
 		WHERE STATUS = 'Y'
 	</select>
 	
 	<!-- 도와줄게요 게시판 전체 조회 -->
 	<select id="helpselectList">
 		SELECT BOARD_NO,
 			   BOARD_TITLE,
 			   BOARD_CONTENT,
 			   PRICE,
 			   BOARD_TYPE,
 			   CREATEDATE
 		FROM BOARD
 		 WHERE BOARD_TYPE = '1'
 		ORDER BY BOARD_NO DESC
 	</select>
 	
  	
  	<!-- 도와줄게요 게시글 등록 쿼리문 -->
  	<insert id="insertBoard">
  		INSERT INTO
  			BOARD 
  				(
  				BOARD_NO,
  				BOARD_TITLE,
  				BOARD_CONTENT,
  				PRICE,
  				MEM_NO,
  				CATEGORY_NO
  				)
 
  			VALUES 
  				 (
  				 SEQ_BNO.NEXTVAL,
  				 #{boardTitle},
  				 #{boardContent},
  				 #{price},
  				 #{memberNo},
  				 #{categoryNo}
  				 )
  	</insert>
  	
  	<insert id="insertAttachment">
  		INSERT INTO
  			ATTACHMENT
  					  (
  					  ATT_NO,
  					  ORIGIN_NAME,
  					  CHANGE_NAME,
  					  FILE_PATH,
  					  BOARD_NO
  					  )
  			
  			VALUES
  				  (
  				  SEQ_ATNO.NEXTVAL,
  				  #{originName},
  				  #{changeName},
  				  #{filePath},
  				  #{boardNo}
  				  )
  	</insert>
  	
  	<!-- 도와줄게요 게시글 수정 쿼리문 -->
  	<update id="updateBoard">
  		UPDATE BOARD
  			SET BOARD_TITLE = #{boardTitle},
  			BOARD_CONTENT = #{boardContent},
  			PRICE = #{price}
  		WHERE BOARD_NO = #{boardNo}
  	</update>
  	
  	<!-- 도와줄게요 게시글 삭제 쿼리문 -->
  	<update id="deleteBoard">
  		UPDATE BOARD
  			SET STATUS = 'N'
  		WHERE BOARD_NO = #{boardNo}
  	</update>
  	
  	<select id="selectCommListCount" resultType="_int">
  		SELECT  COUNT(*)
				FROM BOARD
		WHERE BOARD_TYPE = 3
		AND STATUS = 'Y'
  	</select>
  	
  	<select id="selectCommList" resultMap="boardResult">
  		SELECT  BOARD_NO,
				BOARD_TITLE,
				BOARD_CONTENT,
				PRICE,
				BOARD_TYPE,
				CREATEDATE,
				STATUS,
				MEM_NO,
				CATEGORY_NO
				FROM BOARD
		WHERE BOARD_TYPE = 3
		AND STATUS = 'Y'
  	</select>
  	
  	<select id="noticeList" resultMap="noticeResult">
  		SELECT  NOTICE_NO,
				NOTICE_TYPE,
				NOTICE_TITLE,
				NOTICE_CONTENT,
				CREATEDATE
		FROM NOTICE
		WHERE STATUS = 'Y'
        ORDER BY NOTICE_TYPE DESC
  	</select>
  	
  	<insert id="insertNotice">
  		INSERT INTO NOTICE (
					NOTICE_NO,
					NOTICE_TYPE,
					NOTICE_TITLE,
					NOTICE_CONTENT,
					CREATEDATE,
					STATUS
            		)
		VALUES(
		        SEQ_NNO.NEXTVAL,
		        #{noticeType},
		        #{noticeTitle},
		        #{noticeContent},
		        SYSDATE,
		        'Y'
		        )
  	</insert>
  </mapper>