<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="chatMapper">
  	<resultMap type="Chat" id="chatResult">
  		<result column="MSG_NO" property="msgNo" />
  		<result column="MSG" property="msg" />
  		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
  		<result column="CHAT_ROOM_NO" property="chatRoomNo" />
 		<result column="SENDER_NO" property="senderNo" />
 		<result column="RECEIVER_NO" property="receiverNo" />
 		<result column="MEM_NAME" property="memberName" />
  	</resultMap>
  	
  	<resultMap type="ChatRoom" id="chatRoomResult">
  		<result column="RECEIVER_NO" property="receiverNo" />
  		<result column="RECEIVER_NAME" property="receiverName" />
  		<result column="STATUS" property="status" />
  		<result column="SENDER_NO" property="senderNo" />
  		<result column="SENDER_NAME" property="senderName" />
  		<result column="MEM_COUNT" property="memberCount" />
  		<result column="LAST_MSG_NO" property="lastMsgNo" />
  		<result column="LAST_CHAT_TIME" property="lastChatTime" />
  		<result column="CHAT_COUNT" property="chatCount" />
  	</resultMap>
  	
  	<resultMap type="String" id="senderInfoResult">
  		<result column="MEM_NAME" property="memberName" />
		<result column="MEM_NO" property="memberNo" />
  	</resultMap>
 	
 	<select id="chattingRoomList" resultMap="chatRoomResult">
		SELECT CR.SENDER_NAME,
			   CR.SENDER_NO, 
	           CR.RECEIVER_NO, 
	           CR.RECEIVER_NAME
		  FROM CHATROOM CR
		  JOIN MEMBER M ON (CR.SENDER_NO = M.MEM_NO)
         WHERE CR.SENDER_NO = #{senderNo}
            OR CR.RECEIVER_NO = #{senderNo}
	</select>
	
	<select id="senderInfo" resultMap="senderInfoResult">
		SELECT M.MEM_NAME, M.MEM_NO
		FROM CHATROOMJOIN  CRJ
		JOIN MEMBER M ON (CRJ.MEM_NO = M.MEM_NO)
		WHERE CRJ.CHAT_ROOM_NO = #{chatRoomNo}
		AND M.MEM_NO != #{memberNo}
	</select>
	
	<select id="msgList" resultMap="chatResult">
		SELECT MSG.MSG_NO, 
	           MSG.MSG, 
	           MSG.CREATE_DATE, 
	           MSG.CHAT_ROOM_NO, 
	           MSG.RECEIVER_NO,
	           MSG.SENDER_NO,
	           M.MEM_NAME
	      FROM CHATMSG MSG
	      JOIN CHATROOM CR ON (MSG.CHAT_ROOM_NO = CR.CHAT_ROOM_NO)
	      JOIN MEMBER M ON (M.MEM_NO = MSG.RECEIVER_NO)
		 WHERE MSG.SENDER_NO = #{senderNo}
		 OR MSG.RECEIVER_NO = #{senderNo}
	  ORDER BY MSG_NO ASC
	</select>	
	
	 	<!-- 
		SELECT *
		  FROM (
		    SELECT C.CHAT_ROOM_NO, C.TITLE, C.STATUS, C.MEM_NO, M.MEM_NAME, MSG, CREATE_DATE
		    FROM CHATROOM C
		    JOIN MEMBER M ON (M.MEM_NO = C.MEM_NO)
		    JOIN CHATMSG CM ON (C.MEM_NO = CM.MEM_NO AND CM.CHAT_ROOM_NO = C.CHAT_ROOM_NO)
		    WHERE C.MEM_NO = #{memberNo}
		    AND C.STATUS = 'Y'
		    ORDER BY MSG_NO DESC
		)
		WHERE ROWNUM = 1
	-->
  </mapper>