<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="chatMapper">
  	<resultMap type="Chat" id="chatResult">
  		<result column="MSG_NO" property="msgNo" />
  		<result column="MSG" property="msgCo" />
  		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
 		<result column="SENDER_NO" property="senderNo" />
 		<result column="RECEIVER_NO" property="receiverNo" />
  	</resultMap>
  	
  	<resultMap type="ChatRoom" id="chatRoomResult">
  		<result column="RECEIVER_NO" property="receiverNo" />
  		<result column="RECEIVER_NAME" property="receiverName" />
  		<result column="STATUS" property="status" />
  		<result column="SENDER_NO" property="senderNo" />
  		<result column="SENDER_NAME" property="senderName" />
  		<result column="MEM_COUNT" property="memberCount" />
  		<result column="LAST_MSG" property="lastMsg" />
  		<result column="LAST_CHAT_TIME" property="lastChatTime" />
  		<result column="CHAT_COUNT" property="chatCount" />
  	</resultMap>
  	
  	<resultMap type="String" id="senderInfoResult">
  		<result column="MEM_NAME" property="memberName" />
		<result column="MEM_NO" property="memberNo" />
  	</resultMap>
 	
	<insert id = "insertMsg">
		INSERT INTO CHATMSG(
			MSG_NO,
			MSG,
			CREATE_DATE,
			SENDER_NO,
			RECEIVER_NO
		)
		VALUES(
			SEQ_MSGNO.NEXTVAL,
			#{msgCo},
			SYSTIMESTAMP,
			#{senderNo},
			#{receiverNo}
		)
	</insert>
 	
 	<select id="chattingRoomList" resultMap="chatRoomResult">
		SELECT CR.SENDER_NAME,
			   CR.SENDER_NO, 
	           CR.RECEIVER_NO, 
	           CR.RECEIVER_NAME,
	           CR.LAST_MSG,
	           CR.LAST_CHAT_TIME,
	           CR.MEM_COUNT
		  FROM CHATROOM CR
		  JOIN MEMBER M ON (CR.SENDER_NO = M.MEM_NO)
         WHERE CR.SENDER_NO = #{senderNo}
            OR CR.RECEIVER_NO = #{senderNo}
	</select>
	
  	<update id="chattingRoomInfo">
  		UPDATE CHATROOM
  			SET LAST_MSG = #{lastMsg},
				LAST_CHAT_TIME = SYSTIMESTAMP
  		WHERE (SENDER_NO = #{senderNo} OR RECEIVER_NO = #{senderNo})
		  AND (SENDER_NO = #{receiverNo} OR RECEIVER_NO = #{receiverNo})  		
  	</update>
	
	<select id="msgList" resultMap="chatResult">
		SELECT MSG.MSG_NO, 
	           MSG.MSG, 
     	       MSG.SENDER_NO,
	           MSG.RECEIVER_NO,
	           MSG.CREATE_DATE
	      FROM CHATMSG MSG
		 WHERE (MSG.SENDER_NO = #{senderNo} OR MSG.RECEIVER_NO = #{senderNo})
		   AND (MSG.SENDER_NO = #{receiverNo} OR MSG.RECEIVER_NO = #{receiverNo})
	  ORDER BY MSG_NO ASC
	</select>	
	
	
	<select id="lastMsg" resultMap="chatResult">
		SELECT ROWNUM, A.*
        FROM ( SELECT MSG.MSG_NO, 
                      MSG.MSG, 
                      MSG.SENDER_NO,
                      MSG.RECEIVER_NO,
                      MSG.CREATE_DATE
            FROM CHATMSG MSG
          WHERE (MSG.SENDER_NO = #{senderNo} OR MSG.RECEIVER_NO = #{senderNo})
              AND (MSG.SENDER_NO = #{receiverNo} OR MSG.RECEIVER_NO = #{receiverNo})
          ORDER BY MSG_NO DESC
        ) A
		WHERE ROWNUM = 1
	</select>	

  </mapper>