<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailController</display-name>
    <servlet-name>DetailController</servlet-name>
    <servlet-class>com.kh.finalProject.board.controller.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailController</servlet-name>
    <url-pattern>/detail.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpController</display-name>
    <servlet-name>HelpController</servlet-name>
    <servlet-class>com.kh.finalProject.board.controller.HelpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpController</servlet-name>
    <url-pattern>/help.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aaa</display-name>
    <servlet-name>aaa</servlet-name>
    <servlet-class>com.kh.finalProject.board.controller.aaa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/ccc.bo</url-pattern>
  </servlet-mapping>
</web-app>