<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/.mybatis-3-config.dtd">
  
<configuration>
  	<!-- settings : mybatis구동시 선언할 설정들을 작성하는 영역 -->
  	<settings>
  		<!-- 만약 null로 데이터가 전달되었다면 빈칸이 아닌 null로 인식해라(무조건대문자NULL) -->
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	
  	<!-- typeAlias : VO/DTO 클래스들의 풀클래스명을 단순한 클래스명으로 사용하기 위해서 별칭을 등록할 수 있는 영역-->
  	<typeAliases>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Board" alias="Board" />
  		<typeAlias type="com.kh.finalProject.member.model.vo.Member" alias="Member" />
  		<typeAlias type="com.kh.finalProject.common.vo.Attachment" alias="Attachment" />
  		<typeAlias type="com.kh.finalProject.common.vo.Notice" alias="Notice" />
  		<typeAlias type="com.kh.finalProject.common.vo.Category" alias="Category" />
	    <typeAlias type="com.kh.finalProject.common.vo.Schedule" alias="Schedule" /> 
	    <typeAlias type="com.kh.finalProject.board.model.vo.Reply" alias="Reply" />	
	    <typeAlias type="com.kh.finalProject.mail.EmailCheck" alias="EmailCheck" />	
     	<typeAlias type="com.kh.finalProject.chat.model.vo.Message" alias="Chat" />
     	<typeAlias type="com.kh.finalProject.chat.model.vo.ChattingRoom" alias="ChatRoom" />
	    <typeAlias type="com.kh.finalProject.board.model.vo.Likey" alias="Likey" />
	    <typeAlias type="com.kh.finalProject.pay.model.vo.Pay" alias="Pay" />
	    <typeAlias type="com.kh.finalProject.board.model.vo.ReLikey" alias="ReLikey" />
	    <typeAlias type="com.kh.finalProject.common.vo.Reason" alias="Reason" /> 
	    <typeAlias type="com.kh.finalProject.member.model.vo.Skill" alias="Skill" />
	    <typeAlias type="com.kh.finalProject.common.vo.Report" alias="Report" />
  	</typeAliases>
  	<mappers>
  		<mapper resource="/mappers/board-mapper.xml" />
  		<mapper resource="/mappers/member-mapper.xml" />
  		<mapper resource="/mappers/chat-mapper.xml" />
  	</mappers>
</configuration>