*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: url('../../resources/image/main.png') no-repeat center center fixed; 
      background-size: cover;		
}
.hd-left-section{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    display: flex;
}
.hd-right-section{
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;  
    color: white;
    display: flex;
    padding-right: 10px;
}
.hd-searchbar{
    width: 500px;
    height: 36px;
    border-radius: 45px;
    border: 1px solid rgba(226, 226, 226, 0.4);
}
.hd-hu{
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.hd-hm{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.hd-re{
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.hd-login{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
::placeholder{
    padding-left: 10px;
}
header{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 199;    
}
.logowh{
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
}
.logowh1{
    width: 60px;
    margin-left: 20px;
}
.hd-middle-section{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.myPageSideBar:hover{
    color: white;
}
a:hover{
    color: rgb(0, 199, 174);
    text-decoration: none;
}

/*    
    login 합본
*/
.modal-content{
    margin: 80px 0px 0px 0px;
    width: 600px;
    height: 500px;
}
.modal-content{
    margin: 80px 0px 0px -30px;
    width: 594px;
    margin-top: 60px;
}
.modal-header{
    text-align: center;
    font-weight: bold;
    margin: 20px;
}
.modal-title{
    text-align: center;
    font-weight: bold;
   
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    margin: 20px 60px;
    border-radius: 13px;
    margin: 20px 80px;
}
.login-email-btn {
    color: white;
    background-color: rgb(0, 199, 174);
    border: none;
    width: 300px;
    height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.login-kakao-btn {
    color: black;
    background-color: rgb(250, 225, 0);
    border: none;
    width: 300px;
    height: 40px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.l-ver-line{
    width: 1px;
    height: 13px;
    margin-left: 10px;
    border: 1px solid rgb(224, 224, 224);
    margin-right: 10px;
}
.l-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.l-email-input{
    width: 300px;
    height: 40px;
    border: 1px solid rgba(96, 96, 96, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
}
.l-pwd-input{
    width: 300px;
    height: 40px;
    border: 1px solid rgba(96, 96, 96, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
}
.l-text{
    margin-bottom: 10px;
    font-weight: bold;
}
.l-text1{
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 35px;
}
.loginSearch{
    font-size: 12px;
}
.btn-area{
    margin-top: 10px;
}
.close-btn-login{
    width: 10px;
    right: -60px;
    position: absolute;
    cursor: pointer;
    top: 0px;
}

/*
회원가입
*/
.login-btn {
    color: black;
    background-color: yellow;
    border: none;
    width: 100%;
}

.emailSend-btn{
    color: #fff;
    background-color: rgb(0, 199, 174);
    border: none;
    width: 100%;
}

.sign-up-btn{
    color: #fff;
    background-color: rgb(0, 199, 174);
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
}
.as-re{
    color: red;
}
.en-input{
    border: 1px solid rgba(96, 96, 96, 0.5);;
    border-radius: 8px;
    height: 45px;
    width: 400px;
}
.en-input3{
    border: 1px solid rgba(96, 96, 96, 0.5);;
    border-radius: 8px;
    height: 45px;
    width: 400px;
}
.cb-agree-all{
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(96, 96, 96, 0.5);
}

/*
부트스트랩
*/
.dd-img{
    width: 20px;
    height: 20px;
}
.dropdown{
    position : relative;
    display : inline-block;
    margin-left: 10px;
    width: max-content;
}
.dropdown-content{
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 1;
    width: max-content;
    transition: opacity 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.7;
    background: #00000038;
    padding: 10px;
    border-radius: 8px;
    left: -10px;
}
.dropdown-content a{
    display : block;
}
.dropdown:hover .dropdown-content {
    opacity: 1;
}
/* 이메일버튼 css */
#em-btn{
    background-color: white;
    height: 45px;
    font-size: 14px;
    border: 1px solid rgba(231, 229, 229, 0.6);
    border-radius: 8px;
    cursor: pointer;
    width: 74px;
}
#em-btn:hover{
    background-color: #f0f0f0;
}

#em-btn1{
    background-color: #f0f0f0;
    height: 45px;
    font-size: 14px;
    border: 1px solid rgba(231, 229, 229, 0.6);
    border-radius: 8px;
    cursor: pointer;
    width: 74px;
}
#em-btn1:hover{
    background-color: white;
}
#em-btn2{
    background-color: #f0f0f0;
    height: 45px;
    font-size: 14px;
    border: 1px solid rgba(231, 229, 229, 0.6);
    border-radius: 8px;
    cursor: pointer;
    width: 74px;
}
#em-btn2:hover{
    background-color: white;
}
/*phone*/
#sendBtn{
    background-color: #f0f0f0;
    height: 45px;
    font-size: 14px;
    border: 1px solid rgba(231, 229, 229, 0.6);
    border-radius: 8px;
    cursor: pointer;
    width: 74px;
}
#checkBtn{
    background-color: #f0f0f0;
    height: 45px;
    font-size: 14px;
    border: 1px solid rgba(231, 229, 229, 0.6);
    border-radius: 8px;
    cursor: pointer;
    width: 74px;
}
/*password Find*/
.input-email{
    width: 360px;
    height: 40px;
    border: 1px solid rgba(231, 229, 229, 0.6);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pf-text{
    color: rgb(127, 127, 127);
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}
.pf-div{
    align-items: center;
    justify-content: center;
    width: 462px;
    height: 312px;
    display: flex;
    flex-direction: column;
}

.emailSend-btn{
    color: #fff;
    background-color: rgb(0, 199, 174);
    border: none;
    width: 360px;
    height: 40px;
    border-radius: 5px;
}
.en-input2{
    border: 1px solid rgba(96, 96, 96, 0.5);;
    border-radius: 8px;
    height: 45px;
    width: 400px;
}

.number-btn{
    display: none;
}

.en-input2::-webkit-outer-spin-button,
.en-input2::-webkit-inner-spin-button {
-webkit-appearance: none;
}
.naver-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-check{
    display: none;
}