@charset "UTF-8";
	*,
   *::before,
   *::after {
	   margin: 0;
	   padding: 0;
	   box-sizing: border-box;
   }

	body{
		line-height: 1.5;
	}
	h3{
		font-size: 1.75rem;
		font-weight: 500;
    	line-height: 1.2;
	}
	hr{
		margin-top: 1rem;
    	margin-bottom: 1rem;
	}
	p{
		margin-bottom: 0;
	}
	.box{
		background-color: rgba(60, 59, 59, 0.27);
		color: white;
		display: flex;
		padding-left: 20px;
	}
	
	.sideBar{
		max-width: 200px;
		width: 100%;
		margin-left: 230px;
		margin-right: -150px;
		margin-top: 100px;
		margin-bottom: 200px;
	}
	
	.myPageSideBar{
		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		padding: 10px;
		margin-bottom: 5px;
    	margin-top: 5px;
    	font-weight: bolder;
	}
	
	.myPageSideBar:hover{
		font-style: normal;
		font-weight: bolder;
		background-color: rgba(255, 255, 255, 0.22);
		border-radius: 8px;
		width: max-content;
		padding: 10px;
	}
	
	.pageBox{
		background-color: white;
		color: black;
		margin: 20px;
		border-radius: 8px;
		width: 800px;
		height: auto;
		margin-bottom: 100px;
	}
	
	.btn{
		background: none;
		border: 1px solid rgb(147, 147, 150);
		border-radius: 5px;
		height: 28px;
		
	}
	.pr-btn{
		background: none;
		border: 1px solid rgb(147, 147, 150);
		border-radius: 5px;
		height: 28px;
		width: 80px;
		font-size: 13px;
	}
	
	.btn:hover {
		background-color: rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}
	
	.user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 0px;
        margin-left: 60px;
    }
    
    .user-info-table {
    	margin-top: 50px;
    	margin-left: 68px;
    }
    
    .user-info-table th{
		text-align: left;
		padding-top: 10px;
		font-weight: normal;
		margin: 1px;
    }
    .user-info-table td{
		padding-bottom: 20px;
    }
    
    .user-info-table input{
		height: 22px;
		border: 1px solid rgb(147, 147, 150);
		border-radius: 5px;
		font-size: 13px;
		padding-left: 5px;
    }
    
    .normal-input-box > input{
	    width: calc(100% - 85px);
	    height: 28px;
	    box-sizing: border-box;
	    border: 1px solid rgb(147, 147, 150);
		border-radius: 5px;
    }
    
    .main-box{
    	margin-left: 235px;
    	margin-top: 5px;
		position: relative;
    }
    
    .nomal-input-style{
    	width: 280px;
		height: 22px;
		border: 1px solid rgb(147, 147, 150);
		border-radius: 5px;
    }
        
    .user-info-table button{
    	width: 80px;
		height: 28px;
		float: right;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		border: 1px solid rgb(147, 147, 150);
		color: black;
    }
	.img {
		width: 22px;
		height: auto;
	}
	
	/* viewReport.jsp */
	
	